* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mask {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000000;
}

.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.statusbar {
    position: fixed;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    top: 0;
    background-color: #78bfda;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sidebar {
    font-size: 1.5rem;
    background-color: #b4b4b6;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    margin: 0px;
    width: 10%;
    height: 100%;
    max-width:125px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 2;
}

.btn, input {
    width: 100%;
    height: 2.25rem;
    border: 0;
    font-weight: 500px;
    margin: 0px 0px 20px 0px;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 2.25rem;
    background: hsla(0, 0%, 100%, 0.25);
    cursor: pointer;
}

.toolbar {
    font-size: 1.5rem;
    background-color: #b4b4b6;
    position: fixed;
    margin: 0px;
    width: 10%;
    height: 100%;
    max-width:125px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 2;
}
  
.tool {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    padding: 10px;
    margin: 20px 0px;
    width: 100%;
    height: 75px;
      
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
    z-index: 3;
}
  
.tool:nth-of-type(1) {
    background-color: #cd8484;
}

.tool:nth-of-type(1):hover {
    color: #cd8484;
}

.tool:nth-of-type(1):after {
    border-color: #cd8484;
}
  
.tool:nth-of-type(2) {
    background-color: #ec9f83;
}

.tool:nth-of-type(2):hover {
    color: #ec9f83;
}

.tool:nth-of-type(2):after {
    border-color: #ec9f83;
}

.tool:nth-of-type(3) {
    background-color: #cdb274;
}

.tool:nth-of-type(3):hover {
    color: #cdb274;
}

.tool:nth-of-type(3):after {
    border-color: #cdb274;
}


.tool:nth-of-type(4) {
    background-color: #88b999;
}

.tool:nth-of-type(4):hover {
    color: #88b999;
}

.tool:nth-of-type(4):after {
    border-color: #88b999;
}

.tool:nth-of-type(5) {
    background-color: #88b2b9;
}

.tool:nth-of-type(5):hover {
    color: #88b2b9;
}

.tool:nth-of-type(5):after {
    border-color: #88b2b9;
}

.tool:nth-of-type(6) {
    background-color: #8897b9;
}

.tool:nth-of-type(6):hover {
    color: #8897b9;
}

.tool:nth-of-type(6):after {
    border-color: #8897b9;
}

.tool:nth-of-type(7) {
    background-color: #af88b9;
}

.tool:nth-of-type(7):hover {
    color: #af88b9;
}

.tool:nth-of-type(7):after {
    border-color: #af88b9;
}

.tool:nth-of-type(8) {
    background-color: #d59acb;
}

.tool:nth-of-type(8):hover {
    color: #d59acb;
}

.tool:nth-of-type(8):after {
    border-color: #d59acb;
}

.tool:hover:after {
    transform: scale(1);
    border: solid 2px;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

.tool:after {
    content: "";
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    position: absolute;
    top: -2px;
    left: -2px;
    transition: all 0.3s ease;
    z-index: -2;
}

.tool:hover {
    background-color: transparent;
    transform: scale(1);
    cursor: pointer;
    box-shadow: none;
}

.tool.button-clicked {
    background-color: transparent;
    color: black;
    border: solid 2px;
}