<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sync Whiteboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="statusbar">
        <div id="message">Initializing Sync...</div>
    </div>

    <div class="sidebar">
        <button id="color-btn" class="btn">Change Color</button>
        <button id="clear-btn" class="btn">Clear</button>
        <label for="color">Pen Color:</label>
        <input type="color" id="pen-color" name="color">
        <label for="size">Pen Size:</label>
        <input type="number" id="pen-size" name="size" min="1" max="10" value="2">
    </div>    
    <div class="toolbar">
        <button id="pen-tool" class="tool">&#x270E;</button>  
        <button id="line-tool" class="tool">&#x2014;</button>    
        <button id="arrow-tool" class="tool">&#8594;</button>  
        <button id="rect-tool" class="tool">&#x274F;</button>  
        <button id="circle-tool" class="tool">&#x4f;</button>  
        <button id="diamond-tool" class="tool">&#x2662;</button>  
      </div>

    <canvas class="whiteboard"></canvas>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/sync/releases/0.12.4/twilio-sync.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>